<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
   .block {
    width: 1021px;
    background: grey;
    margin: auto;
    padding: 20px;
    padding-right: 20px;
    border: solid 1px black;
   }
    </style>
</head>
<body>
<div class="block">
<h1>Планирование бюджета</h1>
<h2><p align="right">Ваш баланс: {{ total }}</p></h2>
<hr>
<form method = "post">
    {% csrf_token %}
    <table>
        <tr>
            <td width="220">Сумма:</td>
            <td width="220">Описание:</td>
            <td width="220">Категория:</td>
            <td width="120">Изменение:</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ form.sum }}</td>
            <td>{{ form.name }}</td>
            <td>{{ form.category }}</td>
            <td>{{ form.change }}</td>
            <td><input type="submit" value="Записать"></td>
        </tr>
        {% if table %}
        {% for place in table reversed %}
            <tr>
                <td>{{ place.sum }}</td>
                <td>{{ place.name }}</td>
                <td>{{ place.category }}</td>
                <td>{{ place.change }}</td>
                <td> </td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
</form>
</div>
</body>
</html>